/* Your app custom styles here */

@tailwind components;
@tailwind utilities;

.card-header:after {
    background-color: transparent !important;
}

.swiperImg {
    width: 100%;
    height: 420px;
    object-fit: cover;
}

.card-header-image {
    border-radius: 0 !important;;
}

.width-50 {
    width: 50%;
}